      <p id="notice"><%= notice %></p>

      <p>
        <b>Description:</b>
        <%= @portfolio.description %>
      </p>
  <p>
    <% @portfolio.investments.each do |investment| %>
    <%=  investment.company.symbol %>
        <% end %>
  </p>

            <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
            <%= link_to 'Back', portfolios_path %>
